nav {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: inline-block;
    background: #d9dfde;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    position: relative;
    margin: 0 20px 0 0;
    float: left;
    display: inline-block;
}

li>a:after {
    content: ' »';
}

/* Change this in order to change the Dropdown symbol */

li>a:only-child:after {
    content: '';
}

nav ul li:not(.search-field) span {
    padding: 20px;
    display: inline-block;
    color: black;
    text-decoration: none;
}

nav ul li.search-field {
    padding-top: 10px;
    float: right;
}

nav ul li.search-field span {
    color: black;
    text-decoration: none;
    padding-top: 10px;
}


nav ul li span:not(.noselect):hover {
    opacity: 0.5;
}

nav ul li ul {
    display: none;
    position: absolute;
    left: 0;
    background: #37bc9b;
    float: left;
}

nav ul li ul li {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li button {
    width: 100%
}