.bordered {
    border: 3px solid black;
    border-collapse: collapse;
    margin: 0.5em;
}

input[type='number'] {
    width: 3rem;
}


table.bordered>tbody:not(.unstriped)>tr:nth-child(odd) {
    background-color: #d3d8db;
}

table.bordered>tbody+tbody {
    border-top: 2px solid black;
}

table.bordered>thead {
    text-align: center;
}

table.bordered>tbody>tr>th {
    text-align: left;
    border-right: 1px solid black;
}

.fullWidth {
    width: 100%
}

table.fullWidth {
    margin-left: 0;
    margin-right: 0;
}

div.karakterLap {
    display: flex;
    flex-wrap: wrap;
    max-width: 75em;
    justify-content: space-between;
    padding: 1em;
    border: 5px groove lightgray;
}

div.karakterLap>div {
    flex-basis: content;
}

div.karakterLap>div.fullWidth {
    flex-basis: 100%;
    flex-grow: 1;
}

ul.simpleList {
    margin: 0;
    padding: 0;
}

ul.simpleList li {
    list-style-type: none;
}

.justifiedFlexRow {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.entity-selector {
    width: 30rem;
}

.markdown table {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0.5rem;
    margin: 0.5em;
}

.markdown table>tbody>tr:nth-child(odd) {
    background-color: #d3d8db;
}

.markdown table>tbody>tr:nth-child(even) {
    background-color: #fff;
}

.markdown table>thead>tr {
    background-color: #fff;
    border-bottom: 1px ridge #ccc;
}

.markdown table>thead>tr>th,
.markdown table>tbody>tr>td {
    text-align: left;
    padding-right: 0.2rem;
}

/* .kombat tr>*:nth-child(odd) {
    background-color: aqua;
}

.kombat tr>*:nth-child(even) {
    background-color: blanchedalmond;
} */

.kombat>tbody>tr>th:nth-child(5) {
    border-left: solid 1px black;
}

.calculation ul {
    padding-left: 1em;
    padding-right: 1em;
}